In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [2]:
df = pd.read_csv('../data/final_fe.csv')

In [3]:
df

                 location  total_sqft  bath  price  bhk  price_per_sqft
0     1st Block Jayanagar      2850.0   4.0  428.0    4    15017.543860
1     1st Block Jayanagar      1630.0   3.0  194.0    3    11901.840491
2     1st Block Jayanagar      1875.0   2.0  235.0    3    12533.333333
3     1st Block Jayanagar      1200.0   2.0  130.0    3    10833.333333
4     1st Block Jayanagar      1235.0   2.0  148.0    2    11983.805668
...                   ...         ...   ...    ...  ...             ...
7246                other      1200.0   2.0   70.0    2     5833.333333
7247                other      1800.0   1.0  200.0    1    11111.111111
7248                other      1353.0   2.0  110.0    2     8130.081301
7249                other       812.0   1.0   26.0    1     3201.970443
7250                other      3600.0   5.0  400.0    4    11111.111111

[7251 rows x 6 columns]

In [4]:
dummies = pd.get_dummies(df.location)

In [5]:
dummies

,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,8th Phase JP Nagar,9th Phase JP Nagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,other
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7246,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7247,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7248,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7249,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7250,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
df1 = pd.concat([df, dummies.drop(['other'], axis=1)], axis=1)

In [7]:
df1

,location,total_sqft,bath,price,bhk,price_per_sqft,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,1st Block Jayanagar,2850.0,4.0,428.0,4,15017.543860,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1st Block Jayanagar,1630.0,3.0,194.0,3,11901.840491,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1st Block Jayanagar,1875.0,2.0,235.0,3,12533.333333,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1st Block Jayanagar,1200.0,2.0,130.0,3,10833.333333,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1st Block Jayanagar,1235.0,2.0,148.0,2,11983.805668,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7246,other,1200.0,2.0,70.0,2,5833.333333,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7247,other,1800.0,1.0,200.0,1,11111.111111,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7248,other,1353.0,2.0,110.0,2,8130.081301,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7249,other,812.0,1.0,26.0,1,3201.970443,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7250,other,3600.0,5.0,400.0,4,11111.111111,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df2 = df1.drop('location', axis=1)

In [9]:
df2.head(3)

,total_sqft,bath,price,bhk,price_per_sqft,1st Block Jayanagar,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,2850.0,4.0,428.0,4,15017.543860,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1630.0,3.0,194.0,3,11901.840491,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1875.0,2.0,235.0,3,12533.333333,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
df2.shape

(7251, 246)

In [11]:
X = df2.drop(['price'], axis=1)
y = df2.price

In [12]:
X.shape

(7251, 245)

In [13]:
len(y)

7251

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [15]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.9473826601115699

## Using K-fold CV to measure accuracy of Linear Reg

In [16]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.93665111, 0.85609654, 0.93244472, 0.91695606, 0.92092027])

## Finding the Best model using Grid Search CV

In [17]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' : {
            'model': LinearRegression(),
            'params': {
                'normalize': [True, False]
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,y)

,model,best_score,best_params
0,linear_regression,0.912614,{'normalize': True}
1,lasso,0.909881,"{'alpha': 2, 'selection': 'random'}"
2,decision_tree,0.913840,"{'criterion': 'friedman_mse', 'splitter': 'best'}"

In [18]:
dtree = DecisionTreeRegressor(criterion='friedman_mse', splitter='random')
dtree.fit(X_train, y_train)

DecisionTreeRegressor(criterion='friedman_mse', splitter='random')

## Testing the Model

In [19]:
def predict_price(location,sqft,bath,bhk):    
    loc_index = np.where(X.columns==location)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = sqft
    x[1] = bath
    x[2] = bhk
    if loc_index >= 0:
        x[loc_index] = 1

    return dtree.predict([x])[0]

In [20]:
predict_price('1st Phase JP Nagar',1000, 2, 2)

19.0

In [21]:
predict_price('1st Phase JP Nagar',1000, 3, 3)

42.0

In [22]:
import pickle
with open('../server/artifacts/banglore_home_prices_model.pickle','wb') as f:
    pickle.dump(lr_clf,f)

In [23]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("../server/artifacts/columns.json","w") as f:
    f.write(json.dumps(columns))